
:root {
    --clm-grey: rgba(211, 211, 211, 0.5);
    --clm-text: #cccccc;
    --clm-black: #0d0d0d;
    --clm-light-bg: #444444;
    --clm-text-dark: #888;
    --clm-content-border: #333;
    --clm-header-bg: #1a1a1a;
    --clm-widget-bg: #9f9a9a;
    --clm-button-red: #c62828;
    --clm-text-green-light: #10b981;
    --clm-red: #FF3C3C;
    --clm-orange: #ff9000;
    --clm-btn:  #c62828;
    --clm-btn-text: #cccccc;
    --clm-btn-hover: #FF3C3C;
    --clm-btn-text-hover: #cccccc;
    --inline-btn-size: 2rem;
    --inline-btn-width: 2rem;
    --clm-background-image: none;
}


a {
    text-decoration: none;
}
a,
a:visited {
    color: inherit;
}

.hidden {
    visibility: hidden;
    display: none !important;
}

.relative {
    position: relative;
}
.flex {
    display: flex;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-start {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.gap-05 {
    gap:0.5rem
}

.gap-02 {
    gap:0.2rem
}

.gap-01 {
    gap:0.1rem
}

.gap-1 {
    gap:1rem
}
.gap-2 {
    gap:2rem
}


    .w-1 {
        width: 1rem;
    }
    .w-2 {
        width: 2rem;
    }
    .w-3 {
        width: 3rem;
    }
    .w-4 {
        width: 4rem;
    }
    .w-5 {
        width: 5rem;
    }

    .w-10 {
        width: 10rem;
    }

    .w-15 {
        width: 15rem;
    }

    .w-20 {
        width: 20rem;
    }

    .w-30 {
        width: 30rem;
    }
    .w-80 {
        width: 80rem;
    }

    .w-40 {
        width: 40rem;
    }
    .w-50 {
        width: 50rem;
    }


.absolute {
    position: absolute;
}

.relative {
    position: relative;
}
/*[class*="w-"] {*/
/*    --width: initial;*/
/*    width: calc(var(--width) * 1rem);*/
/*}*/

/*[class*="w-"] {*/
/*    --width: number(attr(class match "w-(\d+)"));*/
/*}*/
.w100 {
    width: 100%;
}

.center {
    text-align: center;
}

.space-between {
    justify-content: space-between;
}

[x-cloak] { display: none !important; }

.border-bottom {
    border-bottom: 1px solid var(--clm-content-border);
}


.grid {
    display: grid;
}

.grid-cols-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

/* Date cell styles */
.w-8 {
    width: 2rem;
}
.h-8 {
    height: 2rem;
}

/* Transition for smooth appearance */
[x-transition] {
    transition: all 0.2s ease;
}


.mt-1 {
    margin-top: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.ta-center {
    text-align: center;
}


.text-xs {
    font-size: 0.75rem;
}

