.dashboard-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dashboard-tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}

.dashboard-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}
