.slot-number {
    font-weight: 800;
    font-family: Outfit, Inter;
    font-size: 1.5rem;
    height: 2rem;
    line-height: 2rem;
    width: 2rem;
    text-align: center;
    color: var(--clm-text);
}

.slot-row[data-status="alive"] .slot-number {
    color: var(--clm-text-green-light);
}



.role-icon {
    font-size: 2rem;
    height: 2rem;
    line-height: 2rem;
    width: 2rem;
    text-align: center;
    /*background-color: var(--clm-text);*/
    background-color: white;
    padding: 0.2rem;
    border-radius: 0.5rem;
    border: 0.2rem solid transparent;
    background-size: 90% 90%;
    background-position: center;
    background-repeat: no-repeat;
}

.player-icon {
    height: 2rem;
    line-height: 2rem;
    width: 2rem;
    /*background-color: var(--clm-text);*/
    padding: 0.2rem;
    border-radius: 0.5rem;
    border: 0.2rem solid var(--clm-text-green-light);
}


/*.role-container {*/
/*    padding: 0.2rem;*/
/*    border-radius: 0.5rem;*/
/*    border: 0.3rem solid transparent;*/
/*}*/


.role-icon[data-role="citizen"],
.role-icon[data-role="sheriff"]
{
    border-color: var(--clm-red);
}

/*.role-icon[data-role="citizen"]::before {*/
/*    content: "thumb_up";*/
/*    color: var(--clm-red);*/
/*}*/

.role-icon[data-role="citizen"] {
    background-image: url('/img/game/citizen.svg');
    /*color: var(--clm-red);*/
}
.role-icon[data-role="mafia"],
.role-icon[data-role="don"]
{
    border-color: var(--clm-text);
    /*color: var(--clm-text);*/
    /*background-color: var(--clm-header-bg);*/
}
.role-icon[data-role="mafia"] {
    background-image: url('/img/game/mafia.svg');
}

.role-icon[data-role="don"] {
    background-image: url('/img/game/don.svg');
}

/*.role-icon[data-role="sheriff"]::before {*/
/*    content: "local_police";*/
/*    color: var(--clm-orange);*/
/*}*/

.role-icon[data-role="sheriff"] {
    background-image: url('/img/game/sheriff.svg');
    /*color: var(--clm-orange);*/
}

.game-view {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.slot-row {

}

.player-avatar {
    position: relative;
}

.player-warns {
    position: absolute;
    top: 0rem;
    right: 0rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--clm-red);
    width: 1rem;
    background-color: white;
    text-align: center;
    z-index: 100;
}

.slot-row[data-warns="1"] .player-warns::before {
    content: "!";
}
.slot-row[data-warns="2"] .player-warns::before {
    content: "!!";
}
.slot-row[data-warns="3"] .player-warns::before {
    content: "!!!";
}
.slot-row[data-warns="4"] .player-warns::before {
    content: "X";
}


.player-avatar  img{
    height: 2.5rem;
    width: 2.5rem;
    width: auto;
    object-fit: contain;
    min-width: 0;
    border-radius: 0.5rem;
    border: 0.2rem solid transparent;
    /*margin: 0.2rem;*/
}

.stopwatch {
    text-align: center;
    font-size: 4rem;
    line-height: 4rem;
    width:100%;
    color: var(--clm-text);
    font-family: Roboto,Outfit, Inter;
    transform: scaleX(0.8);
}

.timer.zero {
    color: red;
}


div[data-speaker="active"] span.role-icon,
div[data-speaker="active"] .player-avatar img,
.action-btn.active
{
    animation: beat 0.6s infinite ease-in-out;
}


