.action-buttons .lang-switcher {
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.action-buttons .lang-switcher a {
    height: 100%;
    display: flex;
    align-items: center;
}

.action-buttons .lang-trigger img {
    height: calc(100% - 3vw);
}

.lang-current {
    position: absolute;
    bottom: 1.5vw;
    right: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1rem;
}

.lang-trigger img {
    /*width: 20px;*/
    /*height: 20px;*/
}

.lang-dropdown {
    position: absolute;
    right: 0;
    bottom: -5vw;
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    min-width: 120px;
    z-index: 100;
}

.lang-dropdown a {
    display: block;
    padding: 0.5rem 1rem;
    margin: 2px;
    /*color: #333;*/
    /*text-decoration: none;*/
}

.lang-dropdown a:hover {
    /*background-color: #f5f5f5;*/
}
