.tournament-logo {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.tournament-logo  img{
    height: 10rem;
    width: 10rem;
    object-fit: contain;
    min-width: 0;
    border-radius: 1rem;
    border: none;
    /*margin: 0.2rem;*/

}




.tournament-banner  img{
    height: 10rem;
    width: 30rem;
    object-fit: contain;
    min-width: 0;
    border-radius: 1rem;
    border: none;
    margin: 0.2rem;
}





