.user-profile {
    display: flex;
    flex-direction: row;
    align-items: center;


}

 .user-avatar-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2rem;
     min-width: 0;
}

 .user-main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
     min-width: 0;
}

.user-avatar {
    position: relative;
    display: flex;
}

.user-avatar  img{
    height: 10rem;
    width: 10rem;
    width: auto;
    object-fit: contain;
    min-width: 0;
    border-radius: 1rem;
    border: none;
    margin: 0.2rem;
}


